[include]
    path = ~/.gitconfig-user

[core]
    editor = nano
    whitespace = fix, -indent-with-non-tab, trailing-space, cr-at-eol
    excludesfile = ~/.gitignore.base

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true
    process = git-lfs filter-process

[alias]
    # http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired/
    # http://caiustheory.com/git-git-git-git-git/
    # https://densitylabs.io/blog/5-useful-tricks-you-didn't-know-for-git
    # https://git-scm.com/docs/pretty-formats

    cherryb = !python ~/.config.git/scripts/mr-from-commits.py

    git = !exec git

    co = checkout
    st = status
    df = diff

    l = log --abbrev-commit --decorate --format=format:'%C(auto)%h - %as (%ar)%d%n%C(reset)''          %s%C(dim white) - %an%C(reset)%n'
    st = "status --short --branch"

    stash-pop-force = !git stash show -p | git apply && git stash drop

[status]
    submoduleSummary = true

[diff]
    submodule = log

[filter "nbstrip_full"]
    clean = "jq --indent 1 'if ((.metadata | has(\"git\") | not) or (.metadata.git | has(\"clear_output\") | not)) or .metadata.git.clear_output then \
            (.cells[] | select(has(\"outputs\")) | .outputs) = [] \
            | (.cells[] | select(has(\"execution_count\")) | .execution_count) = null \
            | .cells[].metadata = {} \
            | del(.cells[] | select(.source == [])) \
            | .metadata = {\"language_info\": {\"name\": \"python\", \"pygments_lexer\": \"ipython3\"}} \
            else . end'"
    smudge = cat
    required = true